{% extends "dashboard/base.html" %}
{% load i18n %}

{% block dashboard_title %}{% trans "Cancel Ride" %}{% endblock dashboard_title %}

{% block dashboard_content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
        <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-6">{% trans "Cancel Ride" %}</h2>
            
            <p class="mb-4">{% trans "Are you sure you want to cancel this ride?" %}</p>
            
            <form method="post" class="space-y-3">
                {% csrf_token %}
                
                <div class="flex justify-end space-x-2 sm:space-x-4">
                    <a href="{% url 'ride_status' ride.id %}" class="flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:text-gray-700 rounded-xl">
                        {% trans "No, Go Back" %}
                    </a>
                    <button type="submit" class="bflex items-center px-4 py-3 text-gray-700 hover:bg-red-100 hover:text-red-700 rounded-xl">
                        {% trans "Yes, Cancel Ride" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock dashboard_content %}