{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="flex items-center justify-center bg-gray-50 px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        {% trans "Verify Your E-mail Address" %}
      </h2>
      
      <div class="mt-4 rounded-md bg-blue-50 p-4">
        <div class="flex">
          <div class="ml-3">
            <p class="text-sm text-blue-700">
              {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}