{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png'%}"/>
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    },
                    fontFamily: {
                        Satoshi: ['"Satoshi-Regular"', "sans-serif"],
                    },
                }
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body class="font-Satoshi">
    {% block content %}{% endblock content %}
</body>
</html>